<div>
  <ul>
    <h6 class="content">{{title}} Users</h6>
    <li *ngFor="let user of users">{{user.name}}-{{user.email}}
      <button (click)="getUser(user._id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="deleteUser(user._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
  <div>
    <h6>{{btnTitle}} User</h6>
    <input [(ngModel)]="updatedUser.name" placeholder="Name" />
    <input [(ngModel)]="updatedUser.email" placeholder="Email" />
    @if (btnTitle === "Add New") {
      <button (click)="addUser()">Add User</button>
    } @else{
      <button (click)="updateUser()">Update User</button><br/>
      <button (click)="changeText()">click to Add New User</button>
    }
  </div>

</div>
<router-outlet></router-outlet>
